#about {
    height:80vh;
    padding-top:200px;
    background: linear-gradient(-45deg, #D44D5C, #e73c7e, #D44D5C, #e73c7e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    color: #161110;              
    padding: 218px 100px 0px 100px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


span {
    color: #f2f8fc;
}

p{
    font-weight:500;
}

.top-curve {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.top-curve svg {
    position: relative;
    display: block;
    width: calc(198% + 1.3px);
    height: 76px;
    transform: rotateY(180deg);
}

.top-curve .shape-fill {
    fill: #f2f8fc;
}

.bottom-curve {
    position: absolute;
    bottom: -109px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.bottom-curve svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 61px;
}

.bottom-curve .shape-fill {
    fill: #f2f8fc;
}

.intro {
    border: 1px solid #1611102c;
    border-radius: 40px;
    width: 800px;
    background-color: #1611102c;
}

.skillIcon {
    color: #161110;
    font-size: 30px
}