#projects{
    height: 80vh;
}

.project{
    border: 1px solid #1611102c;
    border-radius: 40px;
    width: 800px;
    background-color: #1611102c;

}
.projectImg {
    width: 400px;
    height: 200px;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}