.footer {
    background-color: #ffffff0e;
    color: #1611102c;
}

.mailToLink, .social {
    color: #e73c7e !important;
    display: inline-block;
    border-bottom: 2px solid e73c7e;
    padding-bottom: 5px;
}

.pod-contact {
    background-color: #ffffff0e;
    height: 100px;
    background-color: #ffffff0e;
    color: #F5E9E2;
}

.copyright{
    font-size: 10px;
    color: #f5e9e22f;
}

.footer-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.footer-curve svg {
    position: relative;
    display: block;
    width: calc(195% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.footer-curve .shape-fill {
    fill: #F5E9E2;
}

.icon {
    width:40px;
}
